<!-- assets/partials/header.html -->
<nav class="header">
    <div class="header__inner">
        <div class="header__logo-row">
            <a href="index.html" class="header__logo-link">
                <div class="header__logo-circle">G</div>
                <h1 class="header__title logo-font">GrokVsHumans</h1>
            </a>
        </div>
        <div class="header__nav">
            <a href="battles.html" class="nav-link header__nav-link">Battles</a>
            <a href="categories.html" class="nav-link header__nav-link">Categories</a>
            <a href="memes.html" class="nav-link header__nav-link">Memes</a>
            <a href="submit.html" class="nav-link header__nav-link">Submit</a>
        </div>
        <div class="header__submit-row">
            <a href="submit.html" class="header__submit-btn">
                <i class="fa-solid fa-plus"></i> Submit</a>
        </div>
    </div>
</nav>